<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Game Scraper</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" layout-padding>

      <div layout="row">  
        <div flex>
          <md-card>
            <img class="md-whiteframe-2dp" ng-src="themes/default/no-image.svg" ng-hide="ctrl.rom.mainImage" ng-click="changePhoto()">
            <img class="md-whiteframe-2dp" ng-src="{{ ctrl.rom.mainImage }}" ng-show="ctrl.rom.mainImage" ng-click="changePhoto()">
          </md-card>
        </div>

        <div flex>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input ng-model="ctrl.rom.name">
          </md-input-container>

          <div layout>
            <md-input-container class="md-block" flex="80" flex-gt-sm>
              <label>Path to emulator</label>
              <input ng-model="ctrl.rom.path">
            </md-input-container>

            <md-button ng-click="setPath()" class="md-fab" aria-label="Eat cake">
              <md-icon md-svg-src="themes/default/folder.svg"></md-icon>
            </md-button>
          </div>


          <md-input-container class="md-block" flex-gt-sm>
            <label>Additional Command</label>
            <input ng-model="ctrl.rom.command">
          </md-input-container>


          <md-datepicker ng-model="ctrl.rom.release" md-placeholder="Enter date" flex></md-datepicker>
          <!-- <md-input-container class="md-block" flex-gt-sm>
          <label>Release</label>
        </md-input-container> -->
        </div>
      </div>

      <div flex>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Giantbomb ID</label>
          <input ng-model="ctrl.rom.giantbombId">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Desciption</label>
          <textarea ng-model="ctrl.rom.description" rows="5"></textarea>
        </md-input-container>


      </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="ctrl.cancel()" >
        Cancel
      </md-button>
      <span flex></span>
      <md-button ng-click="ctrl.scraper()" >
        Find Rom Data
      </md-button>
      <md-button ng-click="ctrl.save()" >
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>