<div layout="column">
  
  <h1>Emulador: {{emulatorctrl.emulator.name}}</h1>


  <md-button class="md-primary md-raised" ng-click="emulatorctrl.configure()">
    Configure
  </md-button>

  <div layout="column">
    <md-card ng-repeat="rom in emulatorctrl.roms">
      <a ng-href="#/rom/{{rom._id}}" title=""><img ng-src="{{rom.imagePath}}" class="md-card-image" alt="{{rom.name}}"></a>
    </md-card>
  </div>
  <!-- <div ng-repeat="rom in roms | orderBy:'name'">
    {{rom.name}}
  </div> -->

</div>